doctype html
html
	head
		title Osu Scraper - Imvoo
		link(rel='stylesheet' href='css/style.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
	body
		header
			block topBar
			div(class="hero")
				h1 osu! web scraper
		middle
			table
				thead
					tr
						th SONG NAME
						th SONG DIFFICULTY
						th SCORE
						th RANK
						th MODS
				each val in listings
					tr
						td
							a(href=val.songLink)= val.songName
						td= val.songDifficulty
						td= val.score
						td= val.rank
						td= val.songMods
 
