doctype html
html
	head
		title Osu Scraper - Imvoo
	body
		div(id="holder")
			header
				block topBar
				div(class="hero")
					h1 Osu! Web Scraper
				div(class="heroClose")
				div(class="gap")
			div(id="body")
				table
					thead
						tr
							th SONG NAME
							th SONG DIFFICULTY
							th SCORE
							th RANK
							th MODS
							th DATE
					each val in listings
						tr
							td
								a(href=val.songLink)= val.songName
							td= val.songDifficulty
							td= val.score
							td= val.rank
							td= val.songMods
							td= val.datePlayed
			footer
				div(class="closingHero")
					h4 Made by Imvoo

link(rel='stylesheet' href='css/style.css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
